:root {
  --colh1: #ff8f73;
  --colh2: #57d9a3;
  --colh3: #ffe380;
  --collink: #00c7e6;
  --colcode: #d6a9d5;
  --coltext: #cecece;
  --colbg: #202124;
  --colnavhov: #33373b;
  --colnavtext: #c7d1da;
  --colnavbar: #141718;
}

html {
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #cecece;
  margin: 0;
  background-color: var(--colbg);
  font-weight: 300;
}

.content img {
  width: 40%;
  margin: auto;
  display: block;
}

.content {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  padding: 16px;
  max-width: 40em;
  color: var(--coltext);
  font-size: large;
  line-height: 1.5em;
  border-top: 2px solid var(--colh2);
}

.content a,
a:visited {
  color: var(--collink);
  font-weight: normal;
  text-decoration: underline;
}

.content a:hover {
  font-weight: bolder;
  text-decoration: none;
}

.content h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  color: var(--colh1);
  font-weight: 300;
}

.content h2 {
  color: var(--colh2);
  font-weight: 400;
}

.content li {
  list-style-type: "➽ ";
  margin-top: 0.8em;
}

.content ul li::marker {
  font-size: 1.2em;
  line-height: 1;
}

.content ul li ul li {
  list-style-type: "‣ ";
  margin-top: 0.8em;
  /* list-style-type: "ⓘ "; */
  /* list-style-type: "⌘ "; */
  /*padding-left: 0.5em; */
}

.content ul li ul li ul li {
  list-style-type: "- ";
  margin-top: 0.8em;
  /* list-style-type: "ⓘ "; */
  /* list-style-type: "⌘ "; */
  /*padding-left: 0.5em; */
}

.content ul li ul li ul li ul li {
  list-style-type: "⌘ ";
  margin-top: 0.8em;
  /* list-style-type: "ⓘ "; */
  /* list-style-type: "⌘ "; */
  /*padding-left: 0.5em; */
}

.content ul li ul li::marker {
  font-weight: 700;
}

.content h3 {
  color: var(--colh3);
  font-weight: bold;
  margin-left: 2em;
}

.content strong {
  color: var(--colh3);
  font-weight: 500;
}

.content h3 + ul {
  margin-left: 3em;
  background-color: #2c2d2e;
  padding: 0.2em 1.2em 0.2em 1.8em;
}

.content code {
  font-family: "Noto Sans Mono", monospace;
  font-size: medium;
  font-weight: 600;
  color: var(--colcode);
}

.content pre {
  background-color: #09121b;
  padding: 0.2em;
  margin-left: 4em;
}

.content h3 + ul li {
  list-style-type: "➥";
  padding-inline-start: 1ch;
  margin-top: 0.8em;
}

.navbar {
  overflow: hidden;
  background-color: var(--colnavbar);
  position: fixed;
  top: 0;
  width: 100%;
  vertical-align: middle;
  padding: 0;
}

.navbar a {
  color: var(--colnavtext);
  text-align: center;
  text-decoration: none;
}
.navbar-right a {
  float: right;
  display: block;
  color: var(--colnavtext);
  padding: 8px 14px;
  font-size: 1em;
}

.navbar-left a {
  float: left;
  padding: 2px 10px;
}

.navbar a:hover {
  background-color: var(--colnavhov);
}

#banner {
  color: white;
  font-weight: 100;
  text-align: center;
  padding: 0.8em 20px;
  margin-top: 60px;
}

#banner-title {
  font-size: 3.5em;
  margin: 0;
  font-weight: 100;
  color: var(--colh2);
}

#banner-description {
  font-size: 1.2em;
  font-style: italic;
  letter-spacing: 0.1em;
  font-weight: 300;
}

/* .categories {
  padding: 1em;
} */

.categories ul {
  columns: 2;
}

.categories li {
  list-style-type: "➽ ";
  margin-top: 0em;
}

#copyright {
  color: #888888;
  text-align: center;
  font-size: smaller;
}
